/* line 1, ../scss/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../scss/_normalize.scss */
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend,
p, blockquote, th, td,
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
}

/* line 16, ../scss/_normalize.scss */
article, aside, details, figcaption, figure, footer, header,
hgroup, nav, section, summary {
  display: block;
}

/* line 17, ../scss/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 18, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 19, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* line 22, ../scss/_normalize.scss */
html {
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 24, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 26, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 28, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
}

/* line 29, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 30, ../scss/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 31, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 32, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 33, ../scss/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 34, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 35, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 36, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 37, ../scss/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 38, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 39, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 41, ../scss/_normalize.scss */
img {
  border: 0;
}

/* line 42, ../scss/_normalize.scss */
img, object, embed {
  max-width: 100%;
  height: auto;
}

/* line 44, ../scss/_normalize.scss */
ul, ol {
  list-style: none;
  list-style-image: none;
}

/* line 46, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 48, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
}

/* line 50, ../scss/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 51, ../scss/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 52, ../scss/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 53, ../scss/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 54, ../scss/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 55, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 56, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 57, ../scss/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 58, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 59, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/_typo.scss */
p, ul, ol, dl {
  font-size: 0.8125em;
  line-height: 1.7;
  margin-bottom: 1em;
}

/* line 7, ../scss/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 0.7em;
  font-weight: 700;
}

/* line 13, ../scss/_typo.scss */
h1, .h1 {
  font-size: 2em;
}

/* line 14, ../scss/_typo.scss */
h2, .h2 {
  font-size: 1.75em;
}

/* line 15, ../scss/_typo.scss */
h3, .h3 {
  font-size: 1.5em;
}

/* line 16, ../scss/_typo.scss */
h4, .h4 {
  font-size: 1.125em;
}

/* line 17, ../scss/_typo.scss */
h5, .h5 {
  font-size: 1em;
}

/* line 18, ../scss/_typo.scss */
h6, .h6 {
  font-size: 0.875em;
}

/* line 20, ../scss/_typo.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 21, ../scss/_typo.scss */
a:visited {
  color: #fff;
}

/* line 22, ../scss/_typo.scss */
a:hover {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 24, ../scss/_typo.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 25, ../scss/_typo.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 28, ../scss/_typo.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}
